# Classwork Lecture 4

In this exercise, you'll get familiar with the following basics of python:

- String Functions
- If Else Statements
- For Loops

## Student Details

- Name: Sanat Sawant
- Division: A
- Roll: 33

# String Functions

Python has a set of built-in methods that you can use on strings. Please complete the following short exercise to learn more about the different string functions. 

[See Reference Library of String Functions](https://www.w3schools.com/python/python_ref_string.asp)

## Part 1

In [13]:
# Name
student_name = "sanat"

#Empty String
empty_string = ""

#String with numeric values in it
numeric_string = "abc123"

In [21]:
# Q1 A Create and print a variable called "my_name" that stores your name in all lower case
my_name = "sanat"
my_name

'sanat'

In [23]:
# Q1 B Capitalize the first letter of "my_name" and then print it
my_name = my_name.capitalize()
my_name

'Sanat'

In [24]:
# Q1 C Capitalize all letters of "my_name" and then print it
my_name = my_name.upper()
my_name

'SANAT'

## Part 2

In [29]:
# Q2 A Create and print a variable called "my_favorite_fruit" 
# and make it store "I love apples, apples are my favorite fruit"

my_favorite_fruit = "I love apples, apples are my favorite fruit"
my_favorite_fruit

'I love apples, apples are my favorite fruit'

In [30]:
# Q2 B Print whether "my_favorite_fruit" ends with "fruit" 
my_favorite_fruit.endswith("fruit")

True

In [33]:
# Q2 C Count and print the number of times the value "apple" appears in the string
apple_count = my_favorite_fruit.count("apple")
apple_count

2

In [35]:
# Q2 D Replace "apple" with "banana" in "my_favorite_fruit"
my_favorite_fruit = my_favorite_fruit.replace("apples", "bananas")
my_favorite_fruit

'I love bananas, bananas are my favorite fruit'

In [36]:
# Q2 E Convert the first character of each word in "my_favorite_fruit" to upper case
my_favorite_fruit = my_favorite_fruit.title()
my_favorite_fruit

'I Love Bananas, Bananas Are My Favorite Fruit'

In [37]:
# Q2 F Split "my_favorite_fruit" on "," and print the result
my_favorite_fruit_list = my_favorite_fruit.split(", ")
my_favorite_fruit_list

['I Love Bananas', 'Bananas Are My Favorite Fruit']

# If Else Statements

[See Reference](https://info370a-w19.github.io/python-basics/logic-and-conditionals.html)

In [39]:
mother_age = 54
mother_age

54

In [40]:
father_age = 55
father_age

55

In [59]:
#Mother Older 
def is_mother_older(mother_age,father_age):

    if mother_age>father_age:
         print("Mother is older to father")
    
    elif mother_age == father_age:
        print("Mother and father are the same age")
        
        else:
            print("Mother is older to father")

SyntaxError: invalid syntax (<ipython-input-59-a3e30baa2fcd>, line 10)

In [60]:
#Pass Fail 

def pass_fail(grade):
    if (grade > 35) :
        print("pass")
        
    elif grade == 35:
        print ("Just Passed")
    else:
        (grade<35):
        print("Fail")

SyntaxError: invalid syntax (<ipython-input-60-f2019451ecab>, line 10)

# Create a function that accepts the current temperature and returns "is hot" if the temperature is greater than 24 and returns "is not hot" if the temperature is equal to or below 24

In [ ]:
is_hot_or_not(23)

# Grades

- A Grade: 90 and above
- B Grade: 70 and 89
- C Grade: 50 and 69
- D Grade: 35 and 49
- F Grade: Anything below 35

In [62]:
#Grader Function
def grader(score):
    if score>=90:
        return "A"
    elif score>=70 and score <=89:
        return "B"
    elif score>=50 and score <=69:
        return "C"
    elif score>=35 and score <=49:
        return "D"
    else:
        return "F"

In [66]:
sanat_grade = grader(90)
sanat_grade

'A'

In [13]:
# Create a function called "goldilocks" that accepts a numeric temperature value 
# and returns "This porridge is too hot!" if the temperature value is >= 80
# and returns "This porridge is just right" if the temperature value is between 40 and 79
# and returns "This porridge is too cold" if the temperature value is below 40

# For Loops

In [67]:
# Create a list of your favorite movies
movies = ["3 idiots","Endgame","PK","Dhoom"]
movies

['3 idiots', 'Endgame', 'PK', 'Dhoom']

In [68]:
# Create a for loop that prints each of your favorite movies with the text "I love "
for movie in movies:
    print("I love",movie)

I love 3 idiots
I love Endgame
I love PK
I love Dhoom

In [16]:
# Create a list of your favorite cars and favorite colors

In [71]:
cars = ["Lamborghini","Mercedes","Audi","Tesla"]
colours = ["Red","Blue","Green","Yellow"]

In [73]:
# Create a nested for loop that prints your favorite car names for each favorite color
for colour in colours:
    print (colour,cars )

Red ['Lamborghini', 'Mercedes', 'Audi', 'Tesla']
Blue ['Lamborghini', 'Mercedes', 'Audi', 'Tesla']
Green ['Lamborghini', 'Mercedes', 'Audi', 'Tesla']
Yellow ['Lamborghini', 'Mercedes', 'Audi', 'Tesla']

# Create a function that accepts a list of colors and a list of cars  and then returns the following

- "Yes it exists" if the car combination "Speed Red Mazda" is possible
- "Does not exist" if the car combination "Speed Red Mazda" is not possible

In [76]:
def speed_red_mazda_exists(cars,colors):
    for color in colors:
        for car in cars:
            if car == "Mazda" and color == "Speed Red" :
                return "It Exists"
            
            return "Does not exist"

In [81]:
car_list_1 = ["Ferrari", "Ford"]
color_list_1 = ["Steel Grey", "Speed Red"]
speed_red_mazda_exists(car_list_1,color_list_1)

'Does not exist'

In [80]:
car_list_2 = ["Honda","Mazda"]
color_list_2 = ["Steel Grey", "Speed Red"]
speed_red_mazda_exists(car_list_2,color_list_2)

'Does not exist'